
.custom-header {
  font-size: 1rem;
  height: 60px; /* Altura de la navbar */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que la navbar esté por delante del sidebar */
  align-items: center;

}
.cm{
  padding-bottom: 1rem;
}
.custom-header .text-xl {
  font-size: 25px;
}

.custom-header .w-8,
.custom-header .h-8 {
  width: 55px;
  height: 55px;
}
