<aside
  class="h-full "
  [class.w-16]="sidebarService.$collapsed | async"
  [class.w-64]="(sidebarService.$collapsed | async) === false"
>
  <div class="sidebar flex h-full flex-col space-y-4 divide-y divide-gray-200 overflow-y-auto py-4 px-2" style="background-color: #012340;" [ngClass]="extraClass">
    <ng-container *ngFor="let route of routes">
      <ng-container *ngIf="!route.group; else groupTemplate">
        <app-sidebar-item [images]="route.images" [link]="route.href">{{ route.title }}</app-sidebar-item>
      </ng-container>

      <ng-template #groupTemplate>
        <div (click)="toggleGroup(route.title)" class="cursor-pointer">
          <app-sidebar-item class="sidebar-items" [images]="route.images" [link]="'#'">{{ route.title }}</app-sidebar-item>
        </div>
        <ng-container *ngIf="isGroupOpen(route.title)">
          <ng-container *ngFor="let subRoute of getSubRoutes(route)">
            <div class="ml-6"> <!-- Aquí aplicamos el margen a los subgrupos -->
              <app-sidebar-item [images]="subRoute.images" [link]="subRoute.href">{{ subRoute.title }}</app-sidebar-item>
            </div>
          </ng-container>
        </ng-container>
      </ng-template>
    </ng-container>
  </div>
</aside>
