/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

@import '@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #181818;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* A침adir al archivo CSS general de la aplicaci칩n */
main {
  transition: margin-left 0.3s ease-in-out;
}

.main-collapsed {
  margin-left: 4rem; /* Ancho del sidebar cuando est치 cerrado */
}

.main-expanded {
  margin-left: 16rem; /* Ancho del sidebar cuando est치 abierto */
}

.bg-primary-70{
  background-color: #12469e;
}

.bg-primary-70:hover{
  background-color: #0A295D;
}

.color_red{
  background-color: #B71C1C;
}
.color_redt{
  color: #B71C1C;
  font-size: 50px;
  margin-bottom: 60px;
}
